@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: "Poppins", ui-sans-serif, system-ui, sans-serif;
    scroll-behavior: smooth;
  }
}

@font-face {
  font-family: Elmessiri;
  src: url("../src/assets/El_Messiri/ElMessiri-VariableFont_wght.ttf");
}

@font-face {
  font-family: Elmessiri-Regular;
  src: url("../src/assets/El_Messiri/static/ElMessiri-Regular.ttf");
}

@font-face {
  font-family: Elmessiri-Bold;
  src: url("../src/assets/El_Messiri/static/ElMessiri-Bold.ttf");
}

@font-face {
  font-family: Elmessiri-Medium;
  src: url("../src/assets/El_Messiri/static/ElMessiri-Medium.ttf");
}

@font-face {
  font-family: Elmessiri-SemiBold;
  src: url("../src/assets/El_Messiri/static/ElMessiri-SemiBold.ttf");
}

@keyframes marquee {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-100%);
  }
}

.playwrite-us-modern-go {
  font-family: "Playwrite US Modern";
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.bilbo-swash-caps-regular {
  font-family: "Bilbo Swash Caps", cursive;
  font-weight: 400;
  font-style: normal;
}

.poppins-thin {
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.poppins-extralight {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-style: normal;
}

.poppins-light {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.poppins-regular {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.poppins-medium {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.poppins-semibold {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.poppins-bold {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.poppins-extrabold {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-style: normal;
}

.poppins-black {
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.poppins-thin-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-style: italic;
}

.poppins-extralight-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-style: italic;
}

.poppins-light-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.poppins-regular-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.poppins-medium-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: italic;
}

.poppins-semibold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: italic;
}

.poppins-bold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.poppins-extrabold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-style: italic;
}

.poppins-black-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-style: italic;
}

.bebas-neue-regular {
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-style: normal;
}





body {
  background-color: #fafafa;
}

/* 👇 By default, hamburger is visible (on small screens) */
.hamburger-menu {
  display: block;
}

.css-1808mag-MuiPaper-root-MuiAccordion-root {
  box-shadow: none !important;
  border-radius: 8px;
}

.css-1f1pi2l-MuiButtonBase-root-MuiAccordionSummary-root {
  box-shadow: none !important;
  border-radius: 8px;
}


/* index.css */
select {
  outline: none;
  border: none;
  background-color: transparent;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

select:focus {
  outline: none;
  box-shadow: none;
}



/* 👇 Hide it on medium and up */
/* @media screen and (min-width: 768px) {
  .hamburger-menu {
    display: none;
  }
} */
@media screen and (min-width: 1280px) {
  .hamburger-menu {
    display: none;
  }
}

/* This hides the close (X) button on the InfoWindow */
.gm-style-iw button[aria-label="Close"] {
  display: none !important;
}

/* hide scrollbar */
/* Add this to global CSS */
html,
body {
  overflow: auto;
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}


html::-webkit-scrollbar,
body::-webkit-scrollbar {
  display: none;
  /* Chrome, Safari, Opera */
}

/* Hide scrollbar for all browsers */
.custom-scrollbar-hide {
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}

.custom-scrollbar-hide::-webkit-scrollbar {
  display: none;
  /* Chrome, Safari, Opera */
}